# Compiled Object files
*.o

# Compiled programs
intDE/main
intDE/main_sweep
intDE/main_MCMC
mcmcdev/mcmc

# Eclipse stuff
.metadata
.cproject
.project
.settings

# twiddles
*~

# Log directory
intDE/logs/

# Plots directory
intDE/plots/

# Dependency information
intDE/debug/.deps/

*.gin

# MCMC chains
mcmcdev/chains/
intDE/chains/
