# Compiled Object files
*.o

# Compiled program
intDE/main

# Eclipse stuff
.metadata
.cproject
.project
.settings

# twiddles
*~

# Log directory
intDE/logs/

# Dependency information
intDE/debug/.deps/

*.gin